body {
  font-family: Arial, sans-serif;
  margin:0;
  background:#f2f2f2;
}

header {
  background:#111;
  color:white;
  padding:30px;
  text-align:center;
}

header p{
 opacity:.8;
}

input, textarea {
  width:90%;
  padding:12px;
  margin:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

button {
  padding:12px 25px;
  background:orange;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.hidden {
  display:none;
}

#addSection {
  background:white;
  margin:20px;
  padding:20px;
  border-radius:12px;
}

.center{
 text-align:center;
}

#articles {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:20px;
  padding:20px;
}

.card {
  background:white;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
  padding:12px;
}

.card img {
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:10px;
}

footer{
 background:#111;
 color:white;
 text-align:center;
 padding:15px;
}
